/Makefile.in
/aclocal.m4
/build-aux/
/client/wallet
/client/wallet-rekey
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/perl/MYMETA.json
/perl/MYMETA.yml
/perl/Makefile.PL
/perl/Makefile.old
/perl/blib/
/perl/pm_to_blib
/perl/t/data/test.keytab
/perl/t/data/test.principal
/perl/t/data/test.realm
/perl/t/data/test.krbtype
/tests/client/basic-t
/tests/client/full-t
/tests/client/prompt-t
/tests/client/rekey-t
/tests/config/keytab
/tests/config/password
/tests/config/principal
/tests/portable/asprintf-t
/tests/portable/mkstemp-t
/tests/portable/setenv-t
/tests/portable/snprintf-t
/tests/portable/strlcat-t
/tests/portable/strlcpy-t
/tests/runtests
/tests/util/messages-krb5-t
/tests/util/messages-t
/tests/util/xmalloc
/wallet-*.tar.gz
/stamp-h1
.deps
.dirstamp
.libs/
Makefile
*.1
*.8
*.a
*.o
