Source: wallet
Section: net
Priority: optional
Maintainer: Russ Allbery <rra@debian.org>
Build-Depends: debhelper (>= 4.0.0), libremctl-dev, libkrb5-dev,
 libopenafs-dev
Standards-Version: 3.7.2

Package: kasetkey
Priority: extra
Architecture: i386 powerpc sparc alpha s390 ia64 hppa amd64 ppc64
Depends: ${shlibs:Depends}
Description: Set AFS kaserver keys and generate srvtabs
 kasetkey can create or delete principals in an AFS kaserver, randomize
 or change the keys of principals, and generate srvtabs for principals.
 It's intended for automated generation of service srvtabs and for
 synchronization between Kerberos v5 keytabs and Kerberos v4 keys in an
 AFS kaserver.  It only works with an AFS kaserver KDC.
